body {
  color: #5b5c5d;
  background-color: #e6e7ee;
}
ul {
  padding-inline-start: 0px !important;
}
a {
  text-decoration: none;
  color: #5b5c5d;
}
a:hover {
  color: #5b5c5d;
}
.ylo {
  color: #ef8002;
}
.pnk {
  color: #ff5252;
}
.br-15 {
  border-radius: 15px !important;
}
.br-50 {
  border-radius: 50% !important;
}
.font-small {
  font-size: small;
}
.font-large {
  font-size: large;
}
.w-60 {
  width: 60% !important;
}
.educator-option-heading {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.educator-option-sub-heading {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
.btn-neu {
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  background: #e6e7ee;
  box-shadow: 7px 7px 14px #b8b9be, -7px -7px 14px #ffffff;
}
.btn-neu:hover {
  border-radius: 10px;
  background: #e6e7ee;
  box-shadow: inset 10px 10px 20px #cdced4, inset -10px -10px 20px #ffffff;
  /* color: #ef8002; */
}
#starsboard-option {
  display: none;
  position: absolute;
  z-index: 1;
  line-height: 2em;
  border-radius: 13px;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #a3a4a9, -9px -9px 18px #ffffff;
}
#starsboard-btn:hover #starsboard-option {
  display: block;
}
#educator-option {
  display: none;
  position: absolute;
  z-index: 3;
  left: 5%;
  width: 90%;
  line-height: 2em;
  border-radius: 13px;
  background: #e6e7ee;
  box-shadow: 8px 8px 16px #b1b2b7, -8px -8px 16px #ffffff;
}
#educator-btn:hover #educator-option {
  display: block;
}
li {
  padding: 0.25rem 0.5rem;
}
li:hover {
  border-radius: 8px;
  background: #e6e7ee;
  box-shadow: inset 5px 5px 1px #d8d9e0, inset -5px -5px 1px #f4f5fc;
}

/* New work */
.card {
  background-color: #e6e7ee !important;
}
.carousel-item > .card > img {
  margin: 1rem auto;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #919296, -9px -9px 18px #ffffff;
}
#hero-search {
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
}
#topper-card {
  border-radius: 15px;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
}
.card-body {
  background-color: #e6e7ee !important;
  color: #5b5c5d;
}
#hero-search-input {
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  width: 75%;
}
/* #hero-search-input:hover {
  box-shadow: inset 9px 9px 18px #adadb3, inset -9px -9px 18px #ffffff;
} */
#btn-search {
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
  outline: none;
  border: none;
  padding: 1rem 2rem;
}
#btn-search:hover {
  box-shadow: inset 9px 9px 18px #c1c2c8, inset -9px -9px 18px #ffffff;
}
.ribbon {
  border-radius: 5px;
  background-color: #ef8002;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
/* #navbarTogglerDemo02 > ul {
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: 10px 10px 20px #afb0b5, -10px -10px 20px #ffffff;
} */
#instructors {
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: inset 11px 11px 22px #adadb3, inset -11px -11px 22px #ffffff;
}
.card img {
  margin: 1rem auto;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #919296, -9px -9px 18px #ffffff;
}
.professional-courses {
  padding: 1rem 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #cfd0d6, #f6f7ff);
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
}
.professional-courses:hover {
  border-radius: 50%;
  background: linear-gradient(145deg, #f6f7ff, #cfd0d6);
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
}
#testimonies {
  width: 100%;
  border-radius: 16px;
  background: #e6e7ee;
  box-shadow: 8px 8px 16px #adadb3, -8px -8px 16px #ffffff;
}
.testimonial-card {
  width: 90%;
  margin: auto;
  border-radius: 16px;
  background: linear-gradient(145deg, #f6f7ff, #cfd0d6);
  box-shadow: 9px 9px 18px #a8a9ae, -9px -9px 18px #ffffff;
}
.testimonial-card div img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
#become-educator {
  position: absolute;
  top: -20vh;
  left: 10%;
  width: 80%;
  margin: auto;
  height: 40vh;
  border-radius: 16px;
  /* background: #e6e7ee; */
  background: linear-gradient(145deg, #f6f7ff, #cfd0d6);
  box-shadow: 9px 9px 18px #a1a2a7, -9px -9px 18px #ffffff;
}
.btn-edu {
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 2px solid #ef8002;
  color: #ef8002;
}
.btn-edu:hover {
  background-color: #ef8002;
  color: #ffffff;
}
footer {
  position: relative;
  width: 100%;
  margin-top: 18vh;
  padding-top: 30vh;
  border-radius: 16px;
  background: #e6e7ee;
  box-shadow: 10px 10px 20px #adadb3, -10px -10px 20px #ffffff;
}
#exampleInputEmail3 {
  border-radius: 15px;
  background: #e6e7ee;
  box-shadow: 9px 9px 18px #adadb3, -9px -9px 18px #ffffff;
  outline: none;
  border: none;
  padding: 1rem 2rem;
}

/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */

/* owl */
.owl-carousel.owl-theme .owl-nav,
.owl-carousel.owl-theme .owl-dots {
  height: 0;
  display: none;
  overflow: hidden;
}
.card {
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  border: 1px solid #d1d9e6;
  background: #fff;
  -webkit-box-shadow: 3px 3px 5px #b8b9be, -3px -3px 5px #ffffff;
  box-shadow: 3px 3px 5px #b8b9be, -3px -3px 5px #ffffff;
  outline: none !important;
}
.card.iconSlider {
  -webkit-box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #ffffff;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #ffffff;
  width: 100px;
  height: 100px;
  padding: 15px;
}
.card .imgContainer {
  padding: 15px;
}
.card .imgContainer .bevel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #d1d9e6;
  background: #fff;
  -webkit-box-shadow: 3px 3px 5px #b8b9be, -3px -3px 5px #ffffff;
  box-shadow: 3px 3px 5px #b8b9be, -3px -3px 5px #ffffff;
}
.card .imgContainer .bevel img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card .iconContainer {
  width: 100%;
  height: 100%;
}
.card .iconContainer .bevel {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 1px solid #d1d9e6;
  background: #fff;
  text-align: center;
  line-height: 80px;
  -webkit-box-shadow: 3px 3px 5px #b8b9be, -3px -3px 5px #ffffff;
  box-shadow: 3px 3px 5px #b8b9be, -3px -3px 5px #ffffff;
}
